<div class="container my-4">
  <ul class="list-group">
    <!-- FARE COMPONENTE DETTAGLIO WRESTLER -->
    <div *ngFor="let wrestler of wrestlers">
      <li
        class="list-group-item flex-column align-items-start"
        [ngClass]="{
          updated: isWrestlerUpdated(wrestler),
          smackdown: wrestler.roster === Roster.SMACKDOWN,
          raw: wrestler.roster === Roster.RAW
        }"
        (click)="toggleRoster(wrestler)"
      >
        {{ wrestler.name }} {{ wrestler.lastname }} {{ wrestler.stats_total }}
      </li>
    </div>
  </ul>
</div>

<button *ngIf="updatedWrestlers.length">Salva</button>
