<body>
  <div class="container">
    <div class="column">
      <h2>Features</h2>
      <ul>
        <li>Create and manage custom rosters</li>
        <li>Participate in draft events</li>
        <li>Assign titles and championships</li>
        <li>Build rivalries and alliances</li>
        <li>Form tag teams</li>
        <li>Manage male and female athletes</li>
        <li>Include past legends and future stars</li>
        <li>Create fantasy characters</li>
        <li>Customize various settings and options</li>
        <li>Loan wrestlers to other federations</li>
      </ul>
    </div>
    <div class="column">
      <h2>Descrizione</h2>
      <p>
        Questo progetto ha l'obiettivo di creare una modalità sandbox per il
        wrestling, una piattaforma gestionale di roster creati dal computer o
        dall'utente. La piattaforma include una modalità draft per dividere i
        roster, assegnare titoli, creare rivalità e alleanze, formare tag team,
        e molto altro. Gli utenti potranno creare e gestire roster composti da
        atleti maschili e femminili, leggende del passato, stelle attuali e
        future promesse, oltre a personaggi di fantasia. L'obiettivo è di
        offrire un'esperienza coinvolgente e realistica per gli appassionati di
        wrestling, utilizzabile sia per divertimento che per approfondire le
        strategie di gestione del wrestling. Gli utenti potranno creare e
        gestire roster personalizzati, partecipare a draft e sfidarsi tra di
        loro, oltre a personalizzare varie impostazioni e opzioni. Questo
        progetto punterà a creare una piattaforma gestionale per appassionati di
        wrestling, combinando realtà e simulazione, l'obiettivo sarà offrire
        un'esperienza completa e personalizzabile.
      </p>
    </div>
  </div>
</body>
