body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: black;
  color: white;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.column {
  width: 50%;
}
